<div class="profile__friend-list flex-c">
  <h2>Friends List</h2>

  <div v-if="true" class="table-container">
    <el-table :data="friendsData" stripe style="width: 100%" :show-header="false">
      <el-table-column>
        <template #default="{row}">
          <span class="flex cell__cus-author">
            <el-avatar :src="row.url" class="aside-h"></el-avatar>
            <span class="aside-h">\{{row.name}}</span>
          </span>
        </template>
      </el-table-column>
      <el-table-column prop="email" align="right" />
    </el-table>
  </div>

  <el-empty v-else description="No Data"></el-empty>
</div>