<h2>Information</h2>

<el-upload v-loading="uploading" class="user__avatar" action="" :show-file-list="false"
           :before-upload="handleImageUpload" :class="{'hide-border': !userForm.profilePic}">
  <img v-if="userForm.profilePic" :src="userForm.profilePic" class="user__avatar-image" />
  <i v-else class="iconfont icon-add user__avatar-icon"></i>
</el-upload>

<el-form :rules="rules" :model="userForm" label-width="120px" class="user-info__form" :disabled="userFormDisable">
  <el-form-item label="Username" prop='username'>
    <el-input v-model="userForm.username"></el-input>
  </el-form-item>

  <el-row :gutter='20'>
    <el-col :span='12'>
      <el-form-item label='Firstname' prop='firstname'>
        <el-input v-model='userForm.firstname' placeholder='firstname'></el-input>
      </el-form-item>
    </el-col>
    <el-col :span='12'>
      <el-form-item label='Lastname' prop='lastname'>
        <el-input v-model='userForm.lastname' placeholder='lastname'></el-input>
      </el-form-item>
    </el-col>
  </el-row>

  <el-row :gutter='20'>
    <el-col :span='12'>
      <el-form-item label='Age' prop='age'>
        <el-input v-model='userForm.age' placeholder='age'></el-input>
      </el-form-item>
    </el-col>
    <el-col :span='12'>
      <el-form-item label='Gender' prop='gender'>
        <el-select v-model="userForm.gender" placeholder="please select your gender">
          <el-option label="Male" value="Male"></el-option>
          <el-option label="Female" value="Female"></el-option>
        </el-select>
      </el-form-item>
    </el-col>
  </el-row>

  <el-form-item label="PhoneNumber" prop='phoneNumber'>
    <el-input v-model="userForm.phoneNumber" @input="handlePhoneInput"></el-input>
  </el-form-item>

  <el-form-item label="Email" prop='email'>
    <el-input v-model="userForm.email"></el-input>
  </el-form-item>

  <el-form-item label="Bio" prop="bio">
    <el-input v-model="userForm.bio" type="textarea" :rows="5"></el-input>
  </el-form-item>

  <el-form-item v-show="!userFormDisable">
    <el-button style="width: 100%;" type="primary" @click="handleSubmit"> Save </el-button>
  </el-form-item>
</el-form>

<el-form label-width="120px" v-show="userFormDisable" class="user-info__form-btn">
  <el-form-item>
    <el-button style="width: 100%;" type="primary" @click="userFormDisable = false"> Edit </el-button>
  </el-form-item>
</el-form>