<div class="profile__info flex-c">
  <h2>Information</h2>
  <div class="flex">
    <div class="user__avatar flex-c">
      <el-upload v-loading="uploading" class="aside-v" action="" :show-file-list="false"
                 :before-upload="handleImageUpload" :class="{'hide-border': !userForm.profilePic}">
        <el-avatar v-if="userForm.profilePic" :size="100" :src="userForm.profilePic" class="user__avatar"></el-avatar>
        <i v-else class="iconfont icon-add user__avatar-icon"></i>
      </el-upload>
      <el-link v-show="userFormDisable" type="primary" class="user-link-edit"
               @click="userFormDisable = !userFormDisable">
        Edit Profile
      </el-link>
    </div>

    <el-form ref="userFormRef" :rules="rules" :model="userForm" label-width="120px" class="info__form"
             :disabled="userFormDisable">
      <el-form-item label="Username" prop='username'>
        <el-input v-model="userForm.username"></el-input>
      </el-form-item>

      <el-row :gutter='20'>
        <el-col :span='12'>
          <el-form-item label='Firstname' prop='firstname'>
            <el-input v-model='userForm.firstname' placeholder='firstname'></el-input>
          </el-form-item>
        </el-col>
        <el-col :span='12'>
          <el-form-item label='Lastname' prop='lastname'>
            <el-input v-model='userForm.lastname' placeholder='lastname'></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter='20'>
        <el-col :span='12'>
          <el-form-item label='DOB' prop='DOB'>
            <el-date-picker v-model="userForm.DOB" type="date" placeholder="Date of Birth" format="MM/DD/YYYY"
                            value-format="MM/DD/YYYY" />
          </el-form-item>
        </el-col>
        <el-col :span='12'>
          <el-form-item label='Gender' prop='gender'>
            <el-select v-model="userForm.gender" placeholder="please select your gender">
              <el-option label="Male" value="Male"></el-option>
              <el-option label="Female" value="Female"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item label="PhoneNumber" prop='phoneNumber'>
        <el-input v-model="userForm.phoneNumber" @input="handlePhoneInput"></el-input>
      </el-form-item>

      <el-form-item label="Email" prop='email'>
        <el-input v-model="userForm.email"></el-input>
      </el-form-item>

      <el-form-item label="Bio" prop="bio">
        <el-input v-model="userForm.bio" type="textarea" :rows="5"></el-input>
      </el-form-item>

      <el-form-item class="form-btn-container" v-show="!userFormDisable">
        <el-button type="primary" @click="handleSubmit"> Save </el-button>
        <el-button type="danger" @click="userFormDisable = true" plain> Cancel </el-button>
      </el-form-item>
    </el-form>
  </div>
</div>