<div class="profile__info flex-c">
  <img class="profile-bg" :src="profileBg" alt="profile background">
  <div class="user__avatar flex-c">
    <el-upload v-loading="uploading" class="aside-v" action="" :show-file-list="false"
               :before-upload="handleImageUpload" :class="{'hide-border': !userForm.profilePic}">
      <el-avatar v-if="userForm.profilePic" :size="100" :src="userForm.profilePic" alt="avatar"></el-avatar>
      <i v-else class="iconfont icon-add user__avatar-icon"></i>
    </el-upload>
    <el-link type="primary" class="user-link-edit" @click="profileDialog = true">
      Edit Profile
    </el-link>
  </div>

  <h2 class="info__name">\{{ `${userForm.firstname} ${userForm.lastname}` }}</h2>
  <div>\{{userForm.DOB}}</div>

  <el-carousel style="width: 100%;" indicator-position="outside" :autoplay="false">
    <el-carousel-item>
      <div class="info__summary-container flex">
        <div v-for="(item, key) in profileSummary" :key="key" class="info__summary flex-c">
          <h3>\{{item}}</h3>
          <span>\{{key}}</span>
        </div>
      </div>
    </el-carousel-item>

    <el-carousel-item>
      <ul class="info__detail-container">
        <li class="aside-v" v-for="item in profileDetail" :key="item.title">
          <div class="detail-label aside-h">\{{item.title}}</div>
          <div class="detail-content aside-h" v-html="item.content"></div>
        </li>
      </ul>
    </el-carousel-item>
  </el-carousel>
</div>

<el-dialog v-model='profileDialog' title='Edit Profile' destroy-on-close>
  <el-form ref="userFormRef" :rules="rules" :model="userForm" label-width="80px" class="info__form"
           :disabled="userFormDisable">
    <el-form-item label="Username" prop='username'>
      <el-input v-model="userForm.username"></el-input>
    </el-form-item>

    <el-row :gutter='20'>
      <el-col :span='12'>
        <el-form-item label='Firstname' prop='firstname'>
          <el-input v-model='userForm.firstname' placeholder='firstname'></el-input>
        </el-form-item>
      </el-col>
      <el-col :span='12'>
        <el-form-item label='Lastname' prop='lastname'>
          <el-input v-model='userForm.lastname' placeholder='lastname'></el-input>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row :gutter='20'>
      <el-col :span='12'>
        <el-form-item label='DOB' prop='DOB'>
          <el-date-picker v-model="userForm.DOB" type="date" placeholder="Date of Birth" format="MM/DD/YYYY"
                          value-format="MM/DD/YYYY" />
        </el-form-item>
      </el-col>
      <el-col :span='12'>
        <el-form-item label='Gender' prop='gender'>
          <el-select v-model="userForm.gender" placeholder="please select your gender">
            <el-option label="Male" value="Male"></el-option>
            <el-option label="Female" value="Female"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <el-form-item label="Phone" prop='phoneNumber'>
      <el-input v-model="userForm.phoneNumber" @input="handlePhoneInput"></el-input>
    </el-form-item>

    <el-form-item label="Email" prop='email'>
      <el-input v-model="userForm.email"></el-input>
    </el-form-item>

    <el-form-item label="Bio" prop="bio">
      <el-input v-model="userForm.bio" type="textarea" :rows="5"></el-input>
    </el-form-item>
  </el-form>

  <template #footer>
    <el-button type="primary" @click="handleSubmit">Save</el-button>
    <el-button @click="handleProfileCancel">Cancel</el-button>
  </template>
</el-dialog>