<div class="profile__like-list flex-c">
  <h2>My Likes</h2>

  <div class="table-container">
    <el-table :data="myLikeList" stripe style="width: 100%" :show-header="false">
      <el-table-column prop="title" show-overflow-tooltip>
        <template #default="{row}">
          <el-link type="primary" @click="onPostDetail(row._id)">\{{row.title}}</el-link>
        </template>
      </el-table-column>
      <el-table-column>
        <template #default="{row}">
          <span class="flex cell__cus">
            <el-avatar :src="row.author.url" class="aside-h" alt="avatar"></el-avatar>
            <span class="aside-h">\{{row.author.name}}</span>
          </span>
        </template>
      </el-table-column>
      <el-table-column show-overflow-tooltip prop="createTime" align="right" />
    </el-table>
  </div>
</div>