<header class='header-container flex'>
	<span class='aside-h header__logo'>
		<img src='../../public/static/logo_white.svg' alt='' />
	</span>
	<a class="aside-h" href="/">
		<h1 class="header__title">The Pond</h1>
	</a>
	<el-input class='header__input' placeholder='Type to search' type='text'></el-input>

	<div v-if="auth">
		<el-dropdown>
			<el-avatar :size="40" :src="userInfo?.profilePic ?? '/public/img/default.png'"></el-avatar>
			<template #dropdown>
				<el-dropdown-menu>
					<el-dropdown-item class="header__avatar-profile">
						<a href="/profile?entry=1">Profile</a>
					</el-dropdown-item>
					<el-dropdown-item>Add Friends</el-dropdown-item>
					<el-dropdown-item @click="handleLogout">Log out</el-dropdown-item>
				</el-dropdown-menu>
			</template>
		</el-dropdown>
	</div>

	<div v-else>
		<a href='/authorize/signup' class='aside-h'>
			<el-button type='primary'>Sign up</el-button>
		</a>
		<a href='/authorize/signin' class='aside-h'>
			<el-button type='text'>Sign in</el-button>
		</a>
	</div>
</header>