<header class='header-container flex'>
	<span class='aside-h header__logo'>
		<img src='../../public/static/logo_white.svg' alt='' />
	</span>
	<a class="aside-h header__title-container" href="/">
		<h1 class="header__title">The Pond</h1>
	</a>
	{{#if showSeatcdInput}}
	<div>
		<el-autocomplete class="header__input" v-model="searchConfig.searchTerm"
										 :fetch-suggestions="searchConfig.querySearchPost" @select="searchConfig.handlePostSelected"
										 placeholder="Type to search" />
	</div>
	{{/if}}

	<div v-if="auth">
		<el-dropdown>
			<el-avatar :size="40" :src="userInfo?.profilePic ?? '/public/img/default.png'"></el-avatar>
			<template #dropdown>
				<el-dropdown-menu>
					<el-dropdown-item class="header__avatar-profile">
						<a href="/profile">Profile</a>
					</el-dropdown-item>
					<el-dropdown-item @click="showAddFriendsDialog = true">Add Friends</el-dropdown-item>
					<el-dropdown-item class="header__avatar-profile">
						<a href="/">Home</a>
					</el-dropdown-item>
					<el-dropdown-item @click="handleLogout">Log out</el-dropdown-item>
				</el-dropdown-menu>
			</template>
		</el-dropdown>
	</div>

	<div v-else>
		<a href='/authorize/signup' class='aside-h'>
			<el-button type='primary'>Sign up</el-button>
		</a>
		<a href='/authorize/signin' class='aside-h'>
			<el-button type='text'>Sign in</el-button>
		</a>
	</div>
</header>

<el-dialog v-model="showAddFriendsDialog" title="Add Friends" width="30%" destroy-on-close>
	<el-autocomplete v-model="friendId" :fetch-suggestions="querySearchAsync" @select="handleFriendsSelected"
									 placeholder="Search your friend" :trigger-on-focus="false" />
	<template #footer>
		<span class="dialog-footer">
			<el-button @click="showAddFriendsDialog = false">Cancel</el-button>
			<el-button type="primary" @click="showAddFriendsDialog = false">Confirm</el-button>
		</span>
	</template>
</el-dialog>