<header class='header-container flex'>
	<span class='aside-h header__logo'>
		<img src='../../public/static/logo_white.svg' alt='' />
	</span>
	<a class="aside-h header__title-container" href="/">
		<h1 class="header__title">The Pond</h1>
	</a>
	{{#if showSearchInput}}
	<div>
		<el-autocomplete class="header__input" v-model="searchTerm" label="search" :trigger-on-focus="false" clearable
										 :fetch-suggestions="querySearchPost" @select="handlePostSelected" placeholder="Type to search"
										 value-key="title" />
	</div>
	{{/if}}

	<div v-if="auth">
		<el-dropdown>
			<el-avatar :size="40" :src="userInfo?.profilePic ?? '/public/img/default.png'" alt="avatar"></el-avatar>
			<template #dropdown>
				<el-dropdown-menu>
					<el-dropdown-item class="header__avatar-profile">
						<a href="/profile">Profile</a>
					</el-dropdown-item>
					<el-dropdown-item @click="showAddFriendsDialog = true">Add Friends</el-dropdown-item>
					<el-dropdown-item class="header__avatar-profile">
						<a href="/">Home</a>
					</el-dropdown-item>
					<el-dropdown-item @click="handleLogout">Log out</el-dropdown-item>
				</el-dropdown-menu>
			</template>
		</el-dropdown>
	</div>

	<div v-else>
		<a href='/authorize/signup' class='aside-h'>
			<el-button type='primary'>Sign up</el-button>
		</a>
		<a href='/authorize/signin' class='aside-h'>
			<el-button type='text'>Sign in</el-button>
		</a>
	</div>
</header>

<el-dialog v-model="showAddFriendsDialog" title="Add Friends" width="30%" destroy-on-close>
	<el-autocomplete v-model="friendId" :fetch-suggestions="querySearchAsync" @select="handleFriendsSelected"
									 placeholder="Search your friend" :trigger-on-focus="false" />
	<template #footer>
		<span class="dialog-footer">
			<el-button @click="showAddFriendsDialog = false">Cancel</el-button>
			<el-button type="primary" @click="showAddFriendsDialog = false">Confirm</el-button>
		</span>
	</template>
</el-dialog>

{{#if showSearchInput}}
<el-dialog v-model='detailDialog' title="Preview" destroy-on-close>
	<article class='posts__preview'>
		<h2 class='post__title'>\{{postDetail.title}}</h2>

		<div class='post__info-container flex'>
			<el-avatar :size="50" :src="postDetail.profilePic" alt="avatar"></el-avatar>
			<span class='post__user-info'>
				<div class='user-info__username'>\{{postDetail.name}}</div>
				<div class='user-info__time'>\{{postDetail.createTime}}</div>
			</span>
			<div class="tag-container">
				<span v-for="topic in postDetail.topicsList" :key="topic._id" class='post__tag aside-h'
							:style="{'--color': `rgb(${topic.color})`, '--bg': `rgba(${topic.color}, .3)`}">\{{topic.title}}</span>
			</div>
		</div>
		<div class='post__content' v-html="postDetail.content"></div>
	</article>
</el-dialog>
{{/if}}