<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/element-plus/dist/index.css' />
	<link rel='stylesheet' href='/public/css/variables.css' />
	<link rel='stylesheet' href='//at.alicdn.com/t/font_2921104_rtceo8k3lkn.css' />
	<link rel='stylesheet' href='/public/css/index.css' />
	<title>{{title}}</title>
</head>

<body>
	<div id="app">
		{{#if showHeader}}
		{{> header}}
		{{/if}}

		{{{body}}}
	</div>

	<script src='//cdn.jsdelivr.net/npm/vue@next'></script>
	<script src='//cdn.jsdelivr.net/npm/element-plus'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.14/lottie.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
	<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
	<script src='/public/js/http.js'></script>
	<script src="/public/js/global.js"></script>
	<script type="module" src="/public/js/animation.js"></script>

	{{#if scriptUrl}}
	{{#each scriptUrl}}
	<script src="/public/js/{{this}}"></script>
	{{/each}}
	{{/if}}
</body>

</html>