<ul v-if="showComment === index" class="comment-list">
  <li class="comment-item" v-for="item in 3" :key="item">
    <div class="comment__info flex">
      <el-avatar src="/public/static/avatar.png" class="aside-h"></el-avatar>
      <span class="comment__info-user aside-h">Shihao</span>
      <span class="comment__info-time">11/29/2021 14:58</span>
    </div>
    <p>Sounds good!!</p>
  </li>
</ul>