<nav class='nav-side nav-container__left flex-c'>
	<ul class='nav__menu'>
		<li class='nav__menu-item flex aside-v'>
			<i class='iconfont icon-topics'></i>
			Posted
		</li>
		<li class='nav__menu-item flex aside-v'>
			<i class='iconfont icon-threads'></i>
			Threads
		</li>
		<li class='nav__menu-item flex aside-v'>
			<i class='iconfont icon-history'></i>
			History
		</li>
	</ul>

	<div class='nav__categaries'>
		<div class='nav__categaries-title'>Topics</div>
		<ul class='menu__topic-list'>
			<li
				v-for='item in topics'
				:key='item'
				class='aside-v flex'
				:class="{'is-checked': item === currentTopic}"
				@click='currentTopic = item'
			>
				<span class='iconfont icon-point'></span>
				\{{item}}
			</li>
		</ul>
	</div>

	<button class='btn__create-topic'>
		<i class='iconfont icon-add'></i>
		Create New Topic
	</button>
</nav>