<nav class="nav-side nav-container__left flex-c">
  <ul class="nav__menu">
    <li class="nav__menu-item flex aside-v">
      <i class="iconfont icon-topics"></i> Topics
    </li>
    <li class="nav__menu-item flex aside-v">
      <i class="iconfont icon-threads"></i> Threads
    </li>
    <li class="nav__menu-item flex aside-v">
      <i class="iconfont icon-history"></i> History
    </li>
  </ul>

  <div class="nav__categaries">
    {{!-- <button class="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#topics-list"
            aria-expanded="true" aria-controls="topics-list">
      Topics
      <i class="iconfont icon-down"></i>
    </button>
    <ul class="collapse show info__friends-list" id="topics-list">
      <li class="aside-v flex">
        <img class="topics-list__avatar" src="../public/static/avatar.png" alt="">
        Shihao Xion
        <span class="topics-list__email">example@stevens.edu</span>
      </li>
    </ul> --}}
  </div>
</nav>