<nav class='nav-side nav-container__left flex-c'>
	<ul class='nav__menu'>
		<li class='nav__menu-item flex aside-v'>
			<i class='iconfont icon-topics'></i>
			Posted
		</li>
		<li class='nav__menu-item flex aside-v'>
			<i class='iconfont icon-threads'></i>
			Threads
		</li>
		<li class='nav__menu-item flex aside-v'>
			<i class='iconfont icon-history'></i>
			History
		</li>
	</ul>

	<div class='nav__categaries'>
		<div class='nav__categaries-title'>Topics</div>
		<ul class='menu__topic-list'>
			<li v-for='item in TOPICS' :key='item.name' class='aside-v flex'
					:class="{'is-checked': item.name === currentTopic}" @click='currentTopic = item.name'>
				<span class='iconfont icon-point' :style="{color: `rgb(${item.color})`}"></span>
				\{{item.name}}
			</li>
		</ul>
	</div>
</nav>