<nav class='nav-side nav-container__left flex-c'>
	<div class='nav__categaries'>
		<div class='nav__categaries-title'>Topics</div>
		<ul class='menu__topic-list'>
			<li v-for='item in TOPICS' :key='item._id' class='aside-v flex' :class="{'is-checked': item._id === currentTopic}"
					@click='currentTopic = item._id'>
				<span class='iconfont icon-point' :style="{color: item.dcolor}"></span>
				\{{item.title}}
			</li>
		</ul>
	</div>
</nav>