<section class='body__content flex-c'>
	<div class='create__btn-container' @click='showPostDialog = true'>
		<span class='create__text'>Create a new Post</span>
		<button class='btn__create flex'>
			<i class='iconfont icon-add' style='margin: auto;'></i>
		</button>
	</div>

	<ul class='post__list-container' v-infinite-scroll="loadMorePost">
		<li v-for='item in topicsNum' :key='item' class='post__list-item'>
			<h1 class='post__title'>Lecture Rescheduling</h1>
			<div class='post__info-container flex'>
				<img class='post__avatar-img' src='../public/static/avatar.png' alt='' />
				<span class='post__user-info'>
					<div class='user-info__username'>Eliseabeth May</div>
					<div class='user-info__time'>6h ago</div>
				</span>
				<div class="tag-container">
					<span class='post__tag'>Accounting</span>
				</div>
			</div>
			<article class='post__content omit'>
				<p>Hi mates</p>
				<p>
					soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably notice
					that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for additional
					lecture where we can study more dfficult excercise soi tlked with Dr Hellen and because of her ilner we need
					to reschedule upcoming Lecture.
				</p>
				<p>
					You propably notice that this lecture is the last before exam so Dr Hellen asked us also if we want to attend
					for additional lecture where we can study more dfficult excercise soi tlked with Dr Hellen and because of her
					ilner we need to reschedule upcoming Lecture. You propably notice that this lecture is the last before exam so
					Dr Hellen asked us also if we want to attend for additional lecture where we can study more dfficult excercise
				</p>
			</article>
			<div class='post__operation-container flex'>
				<a href="/posts/detail" class='aside-h operation__btn-response'>Detail</a>
				<span class='aside-h operation__btn-response'>Add Response</span>
			</div>
		</li>
	</ul>
</section>

<el-dialog v-model='showPostDialog' title='Create yout Post' width='50%'>
	<main class='dialog__create'>
		<div>
			{{> home/PostForm}}
		</div>

		<div>
			<h3>Preview</h3>
			<div class='posts__preview'>
				<h1 class='post__title'>\{{postForm.title}}</h1>
				<div class='post__info-container flex'>
					<img class='post__avatar-img' src='/public/static/avatar.png' alt='' />
					<span class='post__user-info'>
						<div class='user-info__username'>Shihao</div>
						<div class='user-info__time'>\{{time}}</div>
					</span>
					<div class="tag-container">
						<span v-for="item in postForm.topics" :key="item" class='post__tag aside-h'>\{{item}}</span>
					</div>
				</div>
				<article class='post__content' v-html='content'>
				</article>
			</div>
		</div>
	</main>
</el-dialog>