<section class='body__content flex-c'>
	<div v-if="auth" class='create__btn-container' @click='showPostDialog = true'>
		<span class='create__text'>Create a new Post</span>
		<button class='btn__create flex'>
			<i class='iconfont icon-add' style='margin: auto;'></i>
		</button>
	</div>

	{{> home/PostsList}}
</section>

<el-dialog v-if="auth" v-model='showPostDialog' title='Create yout Post'>
	<main class='dialog__create'>
		<div>
			{{> home/PostForm}}
		</div>

		<div style="margin-left: 20px;">
			<h3>Preview</h3>
			<div class='posts__preview'>
				<h1 class='post__title'>\{{postForm.title}}</h1>
				<div class='post__info-container flex'>
					<img class='post__avatar-img' :src="userInfo?.profilePic ?? '/public/img/default.png'" alt='' />
					<span class='post__user-info'>
						<div class='user-info__username'>\{{displayName}}</div>
						<div class='user-info__time'>\{{time}}</div>
					</span>
					<div class="tag-container">
						<span v-for="item in postForm.topics" :key="item" class='post__tag aside-h'>\{{item}}</span>
					</div>
				</div>
				<article class='post__content' v-html='article'>
				</article>
			</div>
		</div>
	</main>
</el-dialog>