<div class='body__content flex-c'>
	<div v-if="auth" class='create__btn-container' @click='showPostDialog = true'>
		<span class='create__text'>Create a new Post</span>
		<button class='btn__create flex'>
			<i class='iconfont icon-add' style='margin: auto;'></i>
		</button>
	</div>

	{{> home/PostsList}}
</div>

<el-dialog v-if="auth" v-model='showPostDialog' title='Create yout Post' destroy-on-close @open="openPostDialog">
	<el-form ref='postsForm' :rules="postRules" :model='postForm' class="posts__form">
		<el-form-item label='Topic' prop='topics' required>
			<el-select v-model='postForm.topics' multiple collapse-tags :multiple-limit='3'>
				<el-option v-for='item in TOPICS' :key="item._id" :label="item.title" :value='item._id'>\{{item.title}}
				</el-option>
			</el-select>
		</el-form-item>

		<div class='posts__preview'>
			<el-form-item prop='title' class="post__title">
				<el-input v-model='postForm.title' placeholder="Type your title here!"></el-input>
			</el-form-item>
			<div class='post__info-container flex'>
				<el-avatar :size="50" :src="userInfo?.profilePic ?? '/public/img/default.png'" alt="avatar"></el-avatar>
				<span class='post__user-info'>
					<div class='user-info__username'>\{{displayName}}</div>
					<div class='user-info__time'>\{{createTime}}</div>
				</span>
				<div class="tag-container">
					<span v-for="item in selectedTopics" :key="item" class='post__tag aside-h'
								:style="{'--color': topic.dcolor, '--bg': topic.lcolor}">\{{item.title}}</span>
				</div>
			</div>
			<el-form-item prop='body' class="post__content">
				<el-input class='post__body-input' v-model='postForm.body' type='textarea' :show-word-limit='true' :rows="10"
									placeholder="Type your content here~">
				</el-input>
			</el-form-item>
		</div>
	</el-form>

	<template #footer>
		<el-button @click="showPostDialog = false">Cancel</el-button>
		<el-button type="primary" @click="handlePublish">Publish</el-button>
	</template>
</el-dialog>