<nav class="nav-side nav-container__right flex-c">
  <h2 class="info__title">Account</h2>
  <img class="info__avatar" src="../public/static/avatar.png" alt="">
  <div class="info__username">Shihao Xiong</div>
  <ul class="info__contact-container">
    <li>
      <i class="iconfont icon-phone"></i>
      (xxx)xxx-xxxx
    </li>
    <li>
      <i class="iconfont icon-email"></i>
      example@stevens.edu
    </li>
  </ul>

  <div class='info__friends-list-container'>
    <button class="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#friends-list"
            aria-expanded="true" aria-controls="friends-list">
      Friends
      <i class="iconfont icon-down"></i>
    </button>
    <ul class="collapse show info__friends-list" id="friends-list">
      <li class="aside-v flex">
        <img class="friends-list__avatar" src="../public/static/avatar.png" alt="">
        Shihao Xion
        <span class="friends-list__email">example@stevens.edu</span>
      </li>
      <li class="aside-v flex">
        <img class="friends-list__avatar" src="../public/static/avatar.png" alt="">
        Shihao Xion
        <span class="friends-list__email">example@stevens.edu</span>
      </li>
      <li class="aside-v flex">
        <img class="friends-list__avatar" src="../public/static/avatar.png" alt="">
        Shihao Xion
        <span class="friends-list__email">example@stevens.edu</span>
      </li>
      <li class="aside-v flex">
        <img class="friends-list__avatar" src="../public/static/avatar.png" alt="">
        Shihao Xion
        <span class="friends-list__email">example@stevens.edu</span>
      </li>
    </ul>
  </div>
  </div>
</nav>