<nav class="nav-side nav-container__right flex-c">
  <h2 class="info__title">Account</h2>
  <img class="info__avatar" :src="userInfo?.profilePic ?? '/public/img/default.png'" alt="">
  <div class="info__username">\{{userInfo?.username || `${userInfo?.firstname} ${userInfo?.lastname}` || '---'}}</div>
  <ul class="info__contact-container">
    <li>
      <i class="iconfont icon-phone"></i>
      \{{userInfo?.phoneNumber ?? '(xxx)xxx-xxxx'}}
    </li>
    <li>
      <i class="iconfont icon-email"></i>
      \{{userInfo?.email ?? 'example@stevens.edu'}}
    </li>
  </ul>

  <div class='info__friends-list-container'>
    <el-button class="btn-collapse" type="text" :data-show-list="showFriendsList"
               @click="showFriendsList = !showFriendsList">
      Friends
      <i class="iconfont icon-down"></i>
    </el-button>
    <el-collapse-transition>
      <ul class="info__friends-list" v-show="showFriendsList">
        <li v-for="item in 20" :key="item" class="aside-v flex">
          <img class="friends-list__avatar" src="../public/static/avatar.png" alt="">
          Shihao Xion
          <span class="friends-list__email">example@stevens.edu</span>
        </li>
      </ul>
    </el-collapse-transition>
  </div>
  </div>
</nav>