<main class="page__authorize flex" id="authorize">
  <div id="animate"></div>

  {{#if isSignIn}}
    {{> authorize/SignInForm}}
  {{else}}
    {{> authorize/SignUpForm}}
  {{/if}}

  <a class="btn-back" href="/">
    <el-button type="primary">Back to Home</el-button>
  </a>
</main>

<script type="module" src="../public/js/authorize/authorize.js"></script>
{{#if isSignIn}}
  <script src='../../../public/js/authorize/signin.js'></script>
{{else}}
  <script src='../../../public/js/authorize/signup.js'></script>
{{/if}}