<main class="page__authorize flex">
  <div id="animate"></div>

  {{#if isSignIn}}
    {{> authorize/SignInForm}}
  {{else}}
    {{> authorize/SignUpForm}}
  {{/if}}

  <a class="btn btn-danger btn-back" href="/">Back to Home</a>
</main>
<script type="module" src="../public/js/authorize.js"></script>