<main class="page__authorize flex" id="authorize">
  <div id="animate"></div>

  {{#if isSignIn}}
  {{> authorize/SignInForm}}
  {{else}}
  {{> authorize/SignUpForm}}
  {{/if}}

  <a class="btn-back" href="/">
    <el-button type="primary">Back to Home</el-button>
  </a>
</main>