<main class="page__authorize flex" id="authorize">
  <div id="animate"></div>

  {{#if isSignIn}}
  {{> authorize/SignInForm}}
  {{else}}
  {{> authorize/SignUpForm}}
  {{/if}}

  <el-button type="primary" class="btn-back" @click="navTo('/')">Back to Home</el-button>
</main>