<main class="body-container flex">
  <nav class="nav-side nav-container__left flex-c"></nav>
  <section class="body__content flex-c">
    <div class="create__btn-container">
      <span class="create__text">Create a new Post</span>
      <button class="btn__create flex">
        <i class="iconfont icon-add" style="margin: auto;"></i>
      </button>
    </div>

    <ul class="post__list-container">
      <li class="post__list-item">
        <h1 class="post__title">Lecture Rescheduling</h1>
        <div class="post__info-container flex">
          <img class="post__avatar-img" src="../public/static/avatar.png" alt="" />
          <span class="post__user-info">
            <div class="user-info__username">Eliseabeth May</div>
            <div class="user-info__time">6h ago</div>
          </span>
          <span class="post__tag">Accounting</span>
        </div>
        <article class="post__content">
          Hi mates,<br />
          soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably
          notice that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for
          additional lecture where we can study more dfficult excercise
          soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably
          notice that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for
          additional lecture where we can study more dfficult excercise
          soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably
          notice that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for
          additional lecture where we can study more dfficult excercise
        </article>
        <div class="post__operation-container flex">
          <span class="aside-h operation__btn-response">Detail</span>
          <span class="aside-h operation__btn-response">Add Response</span>
        </div>
      </li>

      <li class="post__list-item">
        <h1 class="post__title">Lecture Rescheduling</h1>
        <div class="post__info-container flex">
          <img class="post__avatar-img" src="../public/static/avatar.png" alt="" />
          <span class="post__user-info">
            <div class="user-info__username">Eliseabeth May</div>
            <div class="user-info__time">6h ago</div>
          </span>
          <span class="post__tag">Accounting</span>
        </div>
        <article class="post__content">
          Hi mates,<br />
          soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably
          notice that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for
          additional lecture where we can study more dfficult excercise
        </article>
        <div class="post__operation-container  flex">
          <span class="operation__btn-response">Add Response</span>
        </div>
      </li>

      <li class="post__list-item">
        <h1 class="post__title">Lecture Rescheduling</h1>
        <div class="post__info-container flex">
          <img class="post__avatar-img" src="../public/static/avatar.png" alt="" />
          <span class="post__user-info">
            <div class="user-info__username">Eliseabeth May</div>
            <div class="user-info__time">6h ago</div>
          </span>
          <span class="post__tag">Accounting</span>
        </div>
        <article class="post__content">
          Hi mates,<br />
          soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably
          notice that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for
          additional lecture where we can study more dfficult excercise
        </article>
        <div class="post__operation-container flex">
          <span class="operation__btn-response">Add Response</span>
        </div>
      </li>

      <li class="post__list-item">
        <h1 class="post__title">Lecture Rescheduling</h1>
        <div class="post__info-container flex">
          <img class="post__avatar-img" src="../public/static/avatar.png" alt="" />
          <span class="post__user-info">
            <div class="user-info__username">Eliseabeth May</div>
            <div class="user-info__time">6h ago</div>
          </span>
          <span class="post__tag">Accounting</span>
        </div>
        <article class="post__content">
          Hi mates,<br />
          soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably
          notice that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for
          additional lecture where we can study more dfficult excercise
        </article>
        <div class="post__operation-container flex">
          <span class="operation__btn-response">Add Response</span>
        </div>
      </li>
    </ul>
  </section>
  <nav class="nav-side nav-container__right flex-c">
    <h2 class="info__title">Account</h2>
    <img class="info__avatar" src="../public/static/avatar.png" alt="">
    <div class="info__username">Shihao Xiong</div>
    <ul class="info__contact-container">
      <li>
        <span class="info__icon">
          <i class="iconfont icon-phone"></i>
        </span>
        (xxx)xxx-xxxx
      </li>
      <li>
        <span class="info__icon">
          <i class="iconfont icon-email"></i>
        </span>
        example@stevens.edu
      </li>
    </ul>

    <div class="info__friends-list-container">
      <button class="btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#friends-list"
              aria-expanded="true" aria-controls="friends-list">
        Friends
        <i class="iconfont icon-down"></i>
      </button>
      <ul class="collapse show info__friends-list" id="friends-list">
        <li class="aside-v flex">
          <img class="friends-list__avatar" src="../public/static/avatar.png" alt="">
          Shihao Xion
          <span class="friends-list__email">example@stevens.edu</span>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</main>