<main class="page__profile">
  {{> profile/FriendsList}}
  <div>
    <h2>Archive</h2>
    <el-empty description="No Data"></el-empty>
  </div>
  {{> profile/Information}}
  {{> profile/PostsList}}
</main>