{{> header}}

<main class="page__profile">
  <aside class="profile__aside">
    <el-menu :default-active="activeMenu" class="el-menu-vertical-demo">
      <a :href="`/profile/${item.text.toLowerCase()}`" v-for="item in profileMenu" :key="item">
        <el-menu-item :index="item.index">
          <span>\{{item.text}}</span>
        </el-menu-item>
      </a>
    </el-menu>
  </aside>
  <div v-if="activeMenu == 1" class="profile__content-container">
    {{> profile/Information}}
  </div>
  <div v-else-if="activeMenu == 2" class="profile__content-container">
    {{> profile/Active}}
  </div>
  <div v-else-if="activeMenu == 3" class="profile__content-container">
    {{> profile/History}}
  </div>
</main>

<script src="../public/js/profile.js"></script>