.page__authorize {
	width: 100%;
	height: 100%;
}

#animate {
	width: 60%;
	height: 100%;
}

.page__authorize form {
	margin: auto;
	width: 500px;
}

.page__authorize form > div {
	box-sizing: border-box;
}

.btn-back {
	position: absolute;
	top: 16px;
	right: 50px;
}
