@import './authorize.css';
@import './home.css';
@import './profile.css';

html,
body {
	margin: 0;
	padding: 0;
	color: #696c72;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 8px !important;
	height: 10px !important;
	background: transparent !important;
	cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
	height: 2px;
	border-radius: var(--radius-s);
	background: #dadce0;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}

::-webkit-scrollbar-track {
	background: transparent;
	cursor: pointer;
}

#app {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

body {
	background: url('../static/bg.jpg');
	background-size: 100% 100%;
}

body::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.65;
	z-index: -1;
}

* {
	z-index: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul {
	list-style: none;
}

.header-container {
	width: 100%;
	padding: 0 50px;
	align-items: center;
	background-color: #fff;
	height: 70px;
	justify-content: flex-end;
}

.header__logo {
	width: 80px;
	background: linear-gradient(-36deg, transparent 28px, var(--primary-color) 0) right,
		linear-gradient(36deg, transparent 28px, var(--primary-color) 0) left;
	background-size: 50% 100%;
	background-repeat: no-repeat;
	padding: 10px;
	position: relative;
	top: -15px;
	height: 130px;
	align-self: flex-start;
}

.header__title {
	color: var(--primary-color);
}
.header__title-container {
	margin-right: auto;
}

.header__input {
	margin-right: 30px;
	width: 500px;
}

.header__avatar-profile a {
	text-decoration: none;
	color: var(--el-text-color-regular);
}
.header__avatar-profile:hover a {
	color: var(--el-dropdown-menuItem-hover-color);
}

.el-dialog {
	display: flex;
	flex-direction: column;
	margin: 0 !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: calc(100% - 30px);
	max-width: calc(100% - 30px);
	border-radius: var(--radius-default);
}
.el-dialog .el-dialog__body {
	flex: 1;
	overflow: auto;
}
.el-dialog__title {
	font-weight: bold;
	color: var(--primary-color);
}
.sys__notice {
	text-align: center;
	color: var(--font-color-grey);
}
.input__add-friend .el-input__inner {
	width: 300px;
}

.friend__user-info {
	padding-top: 30px;
	background-color: rgba(255, 255, 255, 0.7);
	align-items: center;
}
.friend__user-info > span:last-child {
	margin-left: auto;
}
.header__btn {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
