.page__posts-create {
	flex: 1;
	height: 100vh;
}

.posts__form {
	width: 25%;
	min-width: 500px;
	margin: auto;
}
.post__body-input > textarea {
	min-height: 200px !important;
}

.posts__preview {
	position: relative;
	padding: 30px 50px;
	width: 30%;
	min-width: 600px;
	margin: auto;
	border-radius: var(--radius-default);
	background-color: rgba(255, 255, 255, 0.7);
}
