.page__profile {
	height: 100vh;
	padding-top: 50px;
	overflow-y: auto;
	position: relative;
}

.page__profile .profile__aside {
	background-color: #fff;
	border-radius: var(--radius-default);
	width: 20%;
	position: absolute;
	left: 2.5%;
	padding: 20px 0;
}

.page__profile .profile__content-container {
	background-color: #fff;
	border-radius: var(--radius-default);
	min-height: 100%;
	margin: 0 auto;
	width: 50%;
	padding: 30px;
}

.user__avatar.hide-border {
	border: 1px dashed var(--font-color-grey);
}
.user__avatar:hover {
	border-color: var(--primary-color);
}
.user__avatar-icon {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
}
.user__avatar,
.user__avatar-image {
	display: block;
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: var(--radius-default);
}
.user__avatar-image {
	box-shadow: var(--box-shadow);
}

.user-info__form {
	width: 65%;
	margin: 50px auto 0;
}
.user-info__form-btn {
	width: 65%;
	margin: 0 auto;
}
