.page__profile {
	height: calc(100vh - 70px);
	display: grid;
	grid-template-columns: 1.5fr 1.5fr 2fr;
	grid-template-rows: 1.5fr 1fr;
	grid-gap: 30px;
	padding: 50px 30px 30px;
}

.page__profile > div {
	background-color: #fff;
	border-radius: var(--radius-default);
	padding: 20px 30px;
}

.profile__posts {
	grid-column-start: 1;
	grid-column-end: 3;
}

.profile__info {
	grid-row-end: -1;
	grid-row-start: -3;
	grid-column-start: 3;
}

.profile__info .info__form,
.profile__info .info__form-btn {
	width: 95%;
	margin: 5% auto;
}
.user__avatar {
	width: 200px;
	height: 200px;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
}
.user-link-edit {
	position: absolute;
	bottom: 10px;
}

.form-btn-container > .el-form-item__content {
	display: flex;
}
.form-btn-container > .el-form-item__content > button {
	flex-grow: 1;
}

.table-container {
	flex-grow: 1;
	height: 0;
	overflow-y: auto;
}
.cell__cus {
	align-items: center;
}
.opt-btn-edit {
	cursor: pointer;
}
.opt-btn-edit:hover {
	color: var(--primary-color);
}
