<form action='' method='post' id='from-authorize' class='row g-3 needs-validation' novalidate>
	<div class='col-12'>
		<label for='form-email' class='form-label'> Email </label>
		<input type='email' class='form-control' name='email' id='form-email' placeholder='username@example.edu' />
	</div>
	<div class='col-12'>
		<label for='form-email' class='form-label'> Password </label>
		<input type='password' class='form-control' name='password' id='form-password' />
	</div>

	<div class='col-12'>
		<input class='btn btn-primary btn-submit col-12' type='submit' value='{{title}}' />
	</div>
</form>